{% extends "exercise/base.html" %}
{% block title %}運動モード選択{% endblock %}
{% block content %}
<div class="container my-5">
    <a class="menu-btn" href="{{ url_for('exercise.index') }}">メニューへ戻る</a>
    <header class="text-center mb-4">
        <h3>運動メニュー作成</h3>
    </header>
    <section>
        <form action="{{ url_for('exercise.exercise_menu_setting') }}" method="POST" novalidate="novalidate">
            {{ form.csrf_token }}

            <div class="mb-3">
                <label class="form-label">運動器具の有無</label>
                <div class="form-check d-flex flex-row">
                    {% for choice in form.exerciseitem %}
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                {{ choice() }} {{ choice.label.text }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                {% for error in form.exerciseitem.errors %}
                    <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                <label class="form-label">運動の強度</label>
                <div class="form-check d-flex flex-row">
                    {% for choice in form.strength %}
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                {{ choice() }} {{ choice.label.text }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                {% for error in form.strength.errors %}
                    <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                <label class="form-label">運動時間</label>
                <div>
                    {{ form.minutes(id="form-minutes", class="form-control") }} 分
                </div>
                {% for error in form.minutes.errors %}
                    <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="d-grid">
                {{ form.submit(class="btn btn-primary btn-block") }}
            </div>
        </form>
    </section>
</div>
{% endblock %}
