{% extends "exercise/base.html" %}
{% block title %}運動モード選択{% endblock %}
{% block content %}

<body>
    
    <div class="exercise_menu_title">
        
        <h2>{{ username }}さんの運動メニュー</h2>

            <a class="btn btn-primary btn-lg" href="{{ url_for('exercise.index') }}">メニューへ戻る</a>
            <p></p>
            <a href="{{ url_for('exercise.menu_history') }}">
                運動メニュー履歴
            </a>
    </div>

    
    <div class="d-flex justify-content-center">
        
        <pre id="response-container">{{ response }}</pre>

    </div>
 
    <script>
        // サーバーから渡されるエスケープ済みの文字列を取得
        const responseContainer = document.getElementById('response-container');
        const originalText = responseContainer.textContent;
 
        // "**" を改行に置き換え
        let updatedText = originalText.replace(/\*\*/g, '\n');
 
        // "*" と ":" の間の文字を太字にする
        updatedText = updatedText.replace(/\*(.*?)\*:/g, '<strong>$1</strong>:');
 
        responseContainer.innerHTML = updatedText;
    </script>

{% endblock %}
