{% extends "exercise/base.html" %}
{% block content %}
<div class="container my-5">
    <div class="alert alert-primary text-center">
        <strong>メニュー</strong>
    </div>
    <div class="menu-container">
        <a href="{{ url_for('exercise.mode_select') }}" style="display:inline-block; text-decoration:none;">
            <img src="{{ url_for('static', filename='images/icons/運動プラン設計.png') }}" alt="運動プラン設計" class="custom-image">
            <br>運動プラン設計
        </a>        
        <a href="{{ url_for('exercise.exercise_menu_setting') }}" style="display:inline-block; text-decoration:none;">
            <img src="{{ url_for('static', filename='images/icons/運動メニュー作成.png') }}" alt="運動メニュー作成" class="custom-image">
            <br>運動メニュー作成
        </a>
        <a href="{{ url_for('exercise.weight_transition_check') }}" style="display:inline-block; text-decoration:none;">
            <img src="{{ url_for('static', filename='images/icons/体重の推移確認.png') }}" alt="体重の推移確認" class="custom-image">
            <br>体重の推移確認
        </a>
        <a href="{{ url_for('exercise.weight_record') }}" style="display:inline-block; text-decoration:none;">
            <img src="{{ url_for('static', filename='images/icons/体重の記録.png') }}" alt="体重の記録" class="custom-image">
            <br>体重の記録
        </a>
        <a href="{{ url_for('exercise.confirm_your_goal') }}" style="display:inline-block; text-decoration:none;">
            <img src="{{ url_for('static', filename='images/icons/目標確認.png') }}" alt="目標確認" class="custom-image">
            <br>目標確認
        </a>
        <a href="{{ url_for('crud.user_edit', user_id=current_user.id) }}" style="display:inline-block; text-decoration:none;">
            <img src="{{ url_for('static', filename='images/icons/ユーザー情報管理.png') }}" alt="ユーザー情報管理" class="custom-image">
            <br>ユーザー情報管理
        </a>
    </div>
    <!-- <a href="https://twitter.com/intent/tweet?text=DZAP" target="_blank">Xにポストする</a> -->
    <a href="{{ url_for('exercise.menu_history') }}">
        運動メニュー履歴
    </a>
</div>
<style>
    .custom-image {
        width: 100px;
        height: auto; /* アスペクト比を保つ */
    }
</style>

{% endblock %}