<!-- 田端将人 -->
{% extends "exercise/base.html" %}

{% block title %}運動モード選択{% endblock %}

{% block content %}
<a class="btn btn-primary btn-lg" href="{{ url_for('exercise.index') }}">メニューへ戻る</a>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h4>運動モード選択</h4>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('exercise.mode_select') }}" method="POST" novalidate="novalidate" class="form-signin">
                        {{ form.csrf_token }}
                        
                        <div class="form-group">
                            <label for="mode" class="modetitle">モード選択</label>
                            <div class="form-check">
                                {% for subfield in form.mode %}
                                    <div class="form-check-inline-mode">
                                        <label class="form-check-label">
                                            {{ subfield() }} {{ subfield.label.text }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        {% for error in form.mode.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error }}</strong>
                        </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary btn-block">選択する</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
