<!-- 田辺然大 -->
{% extends "exercise/base.html" %}
{% block title %}体重記録{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center bg-primary text-white">
            <h2>体重記録</h2>
        </div>
        <div class="card-body">
            <form action="{{ url_for('exercise.weight_record') }}" method="POST" novalidate="novalidate">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="recordweight">体重</label>
                    {{ form.recordweight(class="form-control", placeholder="体重") }}kg
                    {% for error in form.recordweight.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="text-center">
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <a class="btn btn-primary btn-lg" href="{{ url_for('exercise.index') }}">メニューへ戻る</a>
        </div>
    </div>
</div>
{% endblock %}
