<!-- 田辺然大 -->
{% extends "exercise/base.html" %}
{% block title %}ユーザー情報管理{% endblock %}
{% block content %}
<a class="menu-btn" href="{{ url_for('exercise.index') }}">メニューへ戻る</a>
<h2>ユーザー情報管理</h2>

<form
    action="{{ url_for('crud.user_edit', user_id=user.id) }}"
    method="POST"
    novalidate="novalidate"
>
    {{ form.csrf_token }}

    <!-- IDの表示 -->
    <p>
        <label>ID: </label>
        <span>{{ user.id }}</span>
    </p>

    <!-- ユーザー名の変更 -->
    <p>
        {{ form.username.label }} {{ form.username(placeholder=form.username.data) }}
    </p>
    {% for error in form.username.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <!-- アカウント作成時の体重を表示 -->
    <p>
        <label>アカウント作成時の体重: </label>
        <span>{{ user.weight }}kg</span>
    </p>

    <p>
        {{ form.age.label }} {{ form.age(placeholder=form.age.data) }}歳
    </p>
    {% for error in form.age.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <p>
        {{ form.height.label }} {{ form.height(placeholder=form.height.data) }}cm
    </p>
    {% for error in form.height.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <p><input type="submit" value="更新" /></p>
</form>

<form action="{{ url_for('crud.delete_user', user_id=current_user.id) }}" method="POST" onsubmit="return confirmDeletion()">
    {{ form.csrf_token }}
    <input type="submit" value="削除">
</form>

<script>
    function confirmDeletion() {
        return confirm("本当に削除しますか？");
    }
</script>

{% endblock %}
