{% extends "exercise/base.html" %}
{% block title %}ユーザー情報管理{% endblock %}
{% block content %}
<div class="container my-5">
    <header class="text-center mb-4">
        <h3>ユーザー情報管理</h3>
    </header>

    <div class="card shadow-lg p-4 rounded-3" style="max-width: 600px; margin: auto;">
        <form action="{{ url_for('crud.user_edit', user_id=user.id) }}" method="POST" novalidate="novalidate">
            {{ form.csrf_token }}

            <!-- IDの表示 -->
            <div class="mb-3">
                <label class="form-label">ID:{{ user.id }}</label>
            </div>

            <!-- ユーザー名の変更 -->
            <div class="mb-3">
                <label class="form-label" for="username">{{ form.username.label }}</label>
                {{ form.username(class="form-control", placeholder=form.username.data) }}
                {% for error in form.username.errors %}
                <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>

            <!-- アカウント作成時の体重を表示 -->
            <div class="mb-3">
                <label class="form-label">アカウント作成時の体重:{{ user.weight }} kg</label>
            </div>

            <!-- 年齢の変更 -->
            <div class="mb-3">
                <label class="form-label" for="age">{{ form.age.label }}</label>
                {{ form.age(id="form-age", class="form-control", placeholder=form.age.data) }}歳
                <input type="range" id="ageSlider" min="0" max="150" step="1" class="form-range mt-2" oninput="updateField('form-age', this.value)">
                <span id="ageDisplay" class="d-block text-center"></span>
                {% for error in form.age.errors %}
                <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>

            <!-- 身長の変更 -->
            <div class="mb-3">
                <label class="form-label" for="height">{{ form.height.label }}</label>
                {{ form.height(id="form-height", class="form-control", placeholder=form.height.data) }} cm
                <input type="range" id="heightSlider" min="50" max="300" step="0.1" class="form-range mt-2" oninput="updateField('form-height', this.value)">
                <span id="heightDisplay" class="d-block text-center"></span>
                {% for error in form.height.errors %}
                <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>

            <!-- 更新ボタン -->
            <div class="d-grid mb-4">
                <input type="submit" class="btn btn-success btn-block" value="更新" />
            </div>
        </form>

        <!-- 削除フォーム -->
        <form action="{{ url_for('crud.delete_user', user_id=current_user.id) }}" method="POST" onsubmit="return confirmDeletion()">
            {{ form.csrf_token }}
            <div class="d-grid">
                <input type="submit" class="btn btn-danger btn-block" value="アカウント削除" />
            </div>
        </form>

        <p></p>
        <div class="d-grid mb-4">
            <p></p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('exercise.index') }}">メニューへ戻る</a>
        </div>
    </div>

    <script>
        function confirmDeletion() {
            return confirm("本当に削除しますか？");
        }
        function updateField(inputId, value) {
        const inputField = document.getElementById(inputId);
        inputField.value = value;
    }
    </script>
</div>
{% endblock %}
