<!--田辺然大-->
{% extends "auth/base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
<div class="mx-auto dt-auth-main">
    <div class="card dt-auth-login">
        <header>ログイン</header>
        <section>
            <form action="{{ url_for('auth.login') }}" method="POST" novalidate="novalidate">
    {% for message in get_flashed_messages() %}
    <span class="dt-auth-flash">{{ message }}</span>
    {% endfor %} {{ form.csrf_token }}


    <p>{{ form.userid(class="form-control dt-auth-input",placeholder="ユーザーID") }}</p>
    {% for error in form.userid.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}


    <p>{{ form.password(class="form-control dt-auth-input",placeholder="パスワード") }}</p>
    {% for error in form.password.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}

    {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
</form>
<a class="nav-link" href="{{ url_for('auth.signup') }}">新規登録</a>
</section>
</div>
</div>
{% endblock %}
